extends ./layout.jade

block head
	script(type='text/javascript', src='javascripts/amcharts3/amcharts.js')
	script(type='text/javascript', src='javascripts/amcharts3/serial.js')
	script(type='text/javascript', src='javascripts/amcharts3/light.js')
	script(type='text/javascript', src='javascripts/amcharts3/pie.js')
	script(type='text/javascript', src='javascripts/graph.js')
		
block bodyContent
	.bodycontainer
		.container
			#chartdiv
			#tablediv
				table#graphTable.table.table-bordered.table-striped
					thead#tableHeader
						tr
							th.info= "Date"
							th.info= "25-05-1992"
					tbody#tableBody
						tr
							td= "Daily carbs"
							td= "220 grams"
						tr
							td= "BG readings"
							td= "3"
						tr
							td= "Sensor avg."
							td= "6,8 mmol/L"
						tr
							th.info= "Total daily insulin"
							th.info= "94 U"
						tr
							td= "-Daily basal"
							td= "50 U"
						tr
							td= "-Daily bolus"
							td= "44 U"
						tr
							td= "Fills"
							td= "2 (10,3U)"
				#bolusGraph